<h2>{{ course.title }}</h2>
<p>About course: {{ course.description }}</p>
<p>Duration: {{ course.duration }} hours</p>
<p>Rating: {{ course.rating }}</p>
Skills:

<mat-chip-listbox>
  <mat-chip *ngFor="let skill of course.meta.skills">
    {{ skill }}
  </mat-chip>
</mat-chip-listbox>

<mat-accordion>
  <mat-expansion-panel
    *ngFor="let lesson of course.lessons"
    [disabled]="lesson.status === 'locked'"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ lesson.title }} </mat-panel-title>
      <mat-panel-description *ngIf="lesson.status === 'unlocked'; else locked">
        Duration: {{ lesson.duration }}
      </mat-panel-description>
      <ng-template #locked> Lesson is locked </ng-template>
    </mat-expansion-panel-header>
    <vg-player>
      <video
        #media
        poster="{{
          lesson.previewImageLink + '/lesson-' + lesson.order + '.webp'
        }}"
        type="application/x-mpegURL"
        #vgHls="vgHls"
        [vgHls]="lesson.link"
        id="singleVideo"
        controls
        crossorigin
      ></video>
    </vg-player>
  </mat-expansion-panel>
</mat-accordion>
