<mat-card>
    
    <mat-card-content><img src="{{course.previewImageLink + '/cover.webp'}}" alt="{{course.title}} image"></mat-card-content>
    <mat-card-title>{{course.title}}</mat-card-title>
    <mat-card-content><p>Lessons` count: {{course.lessonsCount}}</p> <p>Rating: {{course.rating}}</p> 
      Skills:
      <mat-chip-listbox>
        <mat-chip *ngFor="let skill of course.meta.skills">
          {{skill}}
        </mat-chip>
      </mat-chip-listbox>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/course', course.id]">Details</button>
      </mat-card-actions>
</mat-card>
  
