<mat-card [routerLink]="['/course', course.id]">
  <div (mouseover)="onOver()" (mouseout)="onOut()" class="image-container">
    <ng-template [ngIf]="!isHover"
      ><img
        src="{{ course.previewImageLink + '/cover.webp' }}"
        alt="{{ course.title }} image"
    /></ng-template>
    <ng-template [ngIf]="isHover">
      <app-video
        [videoUrl]="course.meta.courseVideoPreview.link"
        [poster]="
          course.meta.courseVideoPreview.previewImageLink + '/preview.webp'
        "
        autoplay="true"
        muted="true"
        controls="false"
      ></app-video>
    </ng-template>
  </div>
  <mat-card-title>{{ course.title }}</mat-card-title>
  <mat-card-content
    ><p>Lessons` count: {{ course.lessonsCount }}</p>
    <p>Rating: {{ course.rating }}</p>
    Skills:
    <mat-chip-listbox>
      <mat-chip *ngFor="let skill of course.meta.skills">
        {{ skill }}
      </mat-chip>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
